# Python
__pycache__/
*.pyc

# Environment variables
.env
.env.*
*/.env
*/.env.*

# Virtual Environment
venv/
env/
.venv/

# Output files
output/*
job_tracker/output/*
!job_tracker/output/.gitkeep
*.xlsx

# IDE
.vscode/
.idea/

# others
boxnote_to_md/
strimzi_test/